/* Themes: switch by setting <body class="theme-blue"> or <body class="theme-rose"> */
.theme-blue { /* Win98-ish blue, mint text */
  --bg: #2e5d8c;      /* desktop blue */
  --panel: #2b4f77;   /* window */
  --panel-2: #274766; /* darker */
  --text: #93cba5;    /* mint fg */
  --muted: #cde6d6;   /* soft mint */
  --accent: #239BA7;  /* teal highlights */
  --accent-2: #E1AA36;/* mustard */
  --frame: #1a3756;
  --border: #264b6d;
  --link: #7ADAA5;
}

.theme-accessible{          /* High contrast / easier to read */
  --bg:#061517;
  --panel:#132629;
  --panel-2:#0f1f22;
  --text:#e5eae6;
  --muted:#d4ffe2;
  --accent:#78f8ff;
  --accent-2:#ffd966;
  --frame:#0f3f46;
  --border:#1f565c;
  --link:#9effc8;
  --tab-bot:#0f3f46;
  --xp-border:#2dd2c7;
  --xp-border-inner:#093f42;
  --xp-shadow:#50e2e4;
  --xp-header-start:#1f666b;
  --xp-header-end:#0f3b3f;
  --xp-header-text:#eaffe8;
  --xp-body-bg:#041c1f;
  --xp-body-text:#d4fff4;
  --xp-links-text:#9cebdc;
  --xp-links-link:#78ffe0;
  --xp-meta-bg:#0a2d31;
  --xp-meta-border:#1a8f87;
  --xp-meta-text:#d6fff4;
  --proj-mint-bg:#09817d;
  --proj-mint-bar:#12504a;
  --proj-rose-bg:#2b1121;
  --proj-rose-bar:#501a33;
  --proj-lime-bg:#14230b;
  --proj-lime-bar:#274417;
  --proj-amber-bg:#2d1c05;
  --proj-amber-bar:#503213;
  --proj-lilac-bg:#1b1330;
  --proj-lilac-bar:#36215a;
  --proj-cyan-bg:#0a1d2d;
  --proj-cyan-bar:#103653;
}

/* --- PIXEL/Binbows palette --- */
.theme-pixel{
  --bg:#1185d9;        /* desktop blue*/
  --panel:#7d9fc8;     /* window */
  --panel-2:#90a1b4;   /* darker window */
  --text:#ece9ef;      /* light text */
  --muted: #25766e;
  --accent:#ff7bd8;    /* pink highlight */
  --accent-2:#474795;  /* purple button/accent */
    --frame:#e2e2e2;     /* bezel */
    --border:#3e7dd0;    /* borders */
    --link:#b3f6ff;      /* links */
    --xp-border:#f18ad8;
    --xp-border-inner:#9a4cae;
    --xp-shadow:#5b2a74;
    --xp-header-start:#edaaea;
    --xp-header-end:#bf65cc;
    --xp-header-text:#280f35;
    --xp-body-bg:#fff1fb;
    --xp-body-text:#271430;
    --xp-links-text:#784777;
    --xp-links-link:#4b2389;
    --xp-meta-bg:#f7d0ff;
    --xp-meta-border:#b155c7;
    --xp-meta-text:#3a1a4b;
    --proj-mint-bg:#8ac8d0;
    --proj-mint-bar:#7fc6cf;
    --proj-rose-bg:#ff7bd8;
    --proj-rose-bar:#ff7bd8;
    --proj-lime-bg:#b1d584;
    --proj-lime-bar:#8fd056;
    --proj-amber-bg:#f8d57c;
    --proj-amber-bar:#ffbe5b;
    --proj-lilac-bg:#dbc6fc;
    --proj-lilac-bar:#c196ff;
    --proj-cyan-bg:#96d9ee;
    --proj-cyan-bar:#6ddfff;
    --tab-bot:#125864;
}

/* Force wallpaper for the pixel theme */
body.theme-pixel{
  background: url("../backgrounds/background-5.jpg") center center / cover no-repeat fixed !important;
  background-color: #48788c; /* fallback while loading */
}

body.theme-accessible{
  background:#041013;
}

